# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
/gwpy/_version.py
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
Portfile
.coverage
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
# -- see /docs/.gitignore

# OS/editor files
*.swp
.DS_Store
.idea
.vscode

# Examples output
/examples/*.png
/examples/*/*.png

# Patches
/*.patch

# py.test cache dir
/.cache
/.pytest_cache/

# dqsegdb files
__dqsegdb*.json
__segments*.json
