; vim: set syntax=dosini :

[basic]
good-names = _,i,j,k,q,u,x,y,ax

[messages control]
disable = import-error, superfluous-parens

[reports]
output-format = colorized

[typecheck]
ignored-modules = numpy,astropy.units,lal,lalframe
