# -- init ---------------------------------------

# we use python
language: python

# use container-based builds
sudo: false

env:
  global:
    # default environment variables
    - PIP_FLAGS=""
    # https://nedbatchelder.com/blog/201809/coveragepy_50a2_sqlite_storage.html
    - COVERAGE_STORAGE="json"

    # default operations
    - INSTALL_CMD="python -m pip install ${PIP_FLAGS} ."
    - TEST_CMD=". ./ci/test.sh"

    # enable slack notifications (I think)
    - secure: KXq3Kn+i5pDl7ApqYkMKAZlxC7OOLDmiBn46t/JYKyRAchacp1PR84vrwTNj7OfhZek0tlTkKwQtwpFaw6llhYSpB9xl9SsPNmoYsBtZb9zC8z/oRXlXgYudesPSt7cltlt0K21pV9gRflOezRjlJRDoccbw3pe90vYpMdvr7+0=

# -- build --------------------------------------

stages:
  # do some basic sanity checking
  - name: Basic tests
  # do the rest
  - name: Full tests
  # try distributions
  - name: Distribution tests

matrix:
  # bail-out early for failures
  fast_finish: true

  include:
    # lint
    - python: '3.6'
      stage: Basic tests
      env: INSTALL_CMD="python -m pip install flake8" TEST_CMD="python -m flake8"

    # basic test on established, recent python version
    - python: '2.7'
      stage: Basic tests
    - python: '3.6'
      stage: Basic tests

    # full tests on other supported python versions
    - python: '2.7'
      stage: Full tests
      env: INSTALL_CMD=". ./ci/install-pip.sh"
    - python: '3.4'
      stage: Full tests
      env: INSTALL_CMD=". ./ci/install-pip.sh"
    - python: '3.5'
      stage: Full tests
      env: INSTALL_CMD=". ./ci/install-pip.sh"
    - python: '3.6'
      stage: Full tests
      env: INSTALL_CMD=". ./ci/install-pip.sh"
    - python: '3.7'
      stage: Full tests
      dist: xenial
      sudo: required
      env: INSTALL_CMD=". ./ci/install-pip.sh"

    # test pre-release dependencies
    - python: '3.6'
      stage: Full tests
      env: PIP_FLAGS="--upgrade --pre" INSTALL_CMD=". ./ci/install-pip.sh"

    # conda builds
    - python: '2.7'
      os: linux
      language: minimal
      stage: Distribution tests
      env: INSTALL_CMD=". ./ci/install-conda.sh" PYTHON_VERSION="2.7"
    - python: '3.6'
      os: linux
      language: minimal
      stage: Distribution tests
      env: INSTALL_CMD=". ./ci/install-conda.sh" PYTHON_VERSION="3.6"
    - python: '3.7'
      os: linux
      language: minimal
      stage: Distribution tests
      env: INSTALL_CMD=". ./ci/install-conda.sh" PYTHON_VERSION="3.7"
    - python: '2.7'
      os: osx
      language: minimal
      stage: Distribution tests
      env: INSTALL_CMD=". ./ci/install-conda.sh" PYTHON_VERSION="2.7"
    - python: '3.6'
      os: osx
      language: minimal
      stage: Distribution tests
      env: INSTALL_CMD=". ./ci/install-conda.sh" PYTHON_VERSION="3.6"
    - python: '3.7'
      os: osx
      language: minimal
      stage: Distribution tests
      env: INSTALL_CMD=". ./ci/install-conda.sh" PYTHON_VERSION="3.7"

  allow_failures:
    - env: PIP_FLAGS="--upgrade --pre"

install:  # install package
  - ${INSTALL_CMD}

script:  # run tests
  - ${TEST_CMD}

after_success:  # submit coverage results
  - . ./ci/coveralls.sh

before_deploy:
  - git clean -dfX

deploy:
  - provider: pypi
    user: duncanmmacleod
    password: ${PYPI_PASSWD}
    distributions: sdist bdist_wheel
    on:
      condition: -z "${DOCKER_IMAGE}"
      branch: master
      tags: true
      python: '3.6'
      repo: gwpy/gwpy
      skip_existing: true

notifications:
  slack:
    secure: jQdoSpwNbUnq0Eo7o6Ko7vuhu58LQdfy8jFKxLUnUjv/GLezK/PPAQCU9SgmyDPh1yD8sb5Xa8UtbNfGtpYdwBAGwZxPHz3oQQAflivFwcF6UP7/NlAB9muSOOnL0QfQyX1I4sIKOkX+gkl+TBciX4v58B8NUU02dDkwDqTLUqQ=

cache:
  apt: true
  pip: true
  ccache: true
  directories:
    - ${HOME}/miniconda
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
