language: python

sudo: false

env:
  global:
    secure: KXq3Kn+i5pDl7ApqYkMKAZlxC7OOLDmiBn46t/JYKyRAchacp1PR84vrwTNj7OfhZek0tlTkKwQtwpFaw6llhYSpB9xl9SsPNmoYsBtZb9zC8z/oRXlXgYudesPSt7cltlt0K21pV9gRflOezRjlJRDoccbw3pe90vYpMdvr7+0=

matrix:
  include:
    # simple build
    - python: 2.7
      addons:
        apt:
          packages:
            - gcc
            - gfortran
            - libblas-dev
            - liblapack-dev
            - texlive-latex-extra
            - texlive-fonts-recommended
            - dvipng
            - libhdf5-serial-dev
    - python: 3.4
      addons:
        apt:
          packages:
            - gcc
            - gfortran
            - libblas-dev
            - liblapack-dev
            - texlive-latex-extra
            - texlive-fonts-recommended
            - dvipng
            - libhdf5-serial-dev
    - python: 3.5
      addons:
        apt:
          packages:
            - gcc
            - gfortran
            - libblas-dev
            - liblapack-dev
            - texlive-latex-extra
            - texlive-fonts-recommended
            - dvipng
            - libhdf5-serial-dev
    - python: 3.6
      addons:
        apt:
          packages:
            - gcc
            - gfortran
            - libblas-dev
            - liblapack-dev
            - texlive-latex-extra
            - texlive-fonts-recommended
            - dvipng
            - libhdf5-serial-dev

    - env: PIP_FLAGS="--upgrade --pre"
      python: 'nightly'
      addons:
        apt:
          packages:
            - gcc
            - gfortran
            - libblas-dev
            - liblapack-dev
            - texlive-latex-extra
            - texlive-fonts-recommended
            - dvipng
            - libhdf5-serial-dev

    # debian 8 build
    - env: DOCKER_IMAGE="ligo/software:jessie"
      python: '2.7'
      sudo: required
      services:
        - docker
    - env: DOCKER_IMAGE="ligo/software:jessie"
      python: '3.4'
      sudo: required
      services:
        - docker

    # debian 9 build
    - env: DOCKER_IMAGE="ligo/software:stretch"
      python: '2.7'
      sudo: required
      services:
        - docker
    - env: DOCKER_IMAGE="ligo/software:stretch"
      python: '3.5'
      sudo: required
      services:
        - docker

    # sl7 build
    - env: DOCKER_IMAGE="ligo/software:el7"
      python: '2.7'
      sudo: required
      services:
        - docker
    - env: DOCKER_IMAGE="ligo/software:el7"
      python: '3.5'
      sudo: required
      services:
        - docker

    # macos build
    - os: osx
      env: PYTHON_VERSION='2.7'
      language: minimal
      sudo: required

  allow_failures:
    - env: PIP_FLAGS="--upgrade --pre"
    - env: DOCKER_IMAGE="ligo/software:jessie"
      python: '3.4'
    - env: DOCKER_IMAGE="ligo/software:stretch"
      python: '3.5'
    - env: DOCKER_IMAGE="ligo/software:el7"
      python: '3.5'

  fast_finish: true

before_install:
  # set up utilities
  - . ./ci/lib.sh

  # configure docker and system dependencies
  - . ./ci/docker-install.sh

install:  # install package
  - ci_run ". ${GWPY_PATH}/ci/install.sh"

script:  # run tests
  - ci_run ". ${GWPY_PATH}/ci/test.sh"

after_success:
  # submit coverage results
  - pip install coveralls
  - sed -i 's|"'${GWPY_PATH}'|"'`pwd`'|g' .coverage
  - coveralls

  # build and deploy package files
  - . ./ci/deploy.sh

deploy:
  - provider: pypi
    user: duncanmmacleod
    password: ${PYPI_PASSWD}
    on:
      branch: master
      tags: true
      distributions: sdist bdist_wheel
      python: '2.7'
      repo: gwpy/gwpy
  - provider: pypi
    user: duncanmmacleod
    password: ${PYPI_PASSWD}
    on:
      branch: master
      tags: true
      distributions: bdist_wheel
      python: '3.5'
      repo: gwpy/gwpy

notifications:
  slack:
    secure: jQdoSpwNbUnq0Eo7o6Ko7vuhu58LQdfy8jFKxLUnUjv/GLezK/PPAQCU9SgmyDPh1yD8sb5Xa8UtbNfGtpYdwBAGwZxPHz3oQQAflivFwcF6UP7/NlAB9muSOOnL0QfQyX1I4sIKOkX+gkl+TBciX4v58B8NUU02dDkwDqTLUqQ=

cache:
  apt: true
  pip: true
  ccache: true
  directories:
    - /opt/local/var/macports/software
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
