language: python
python:
  - "2.6"
  - "2.7"
before_install:
  - mkdir builds
  - pushd builds
  # install numpy non-python dependencies
  - sudo apt-get install -qq libatlas-dev libatlas-base-dev gfortran
  # add LSCSoft sources
  - echo "deb http://software.ligo.org/lscsoft/debian wheezy contrib" | sudo tee -a /etc/apt/sources.list
  - sudo apt-get update -qq
  - sudo apt-get --assume-yes --allow-unauthenticated install lscsoft-archive-keyring
  - sudo apt-get update -qq
  - sudo apt-get --assume-yes install libhdf5-dev lal-python lalframe-python ldas-tools-framecpp-python
  - sudo apt-get --assume-yes install python-nds2-client
  # install build dependencies
  - travis_retry pip install -q tornado jinja2 GitPython
  # install cython
  - travis_retry pip install --install-option="--no-cython-compile" Cython
  # install numpy
  - travis_retry pip install -q numpy==1.9.1
  # install scipy
  - travis_wait pip install -q scipy==0.13
  # install matplotlib
  - travis_retry pip install -q matplotlib==1.3.1
  # install astropy
  - travis_retry pip install -q astropy==1.0
  # install GLUE
  - travis_retry pip install -q --egg https://www.lsc-group.phys.uwm.edu/daswg/download/software/source/glue-1.46.tar.gz#egg=glue-1.46
  # install h5py
  - pip install -q h5py
  - pip install -q unittest2
  - pip install -q importlib
  - pip install -q pytest
  - pip install -q coveralls
  - popd
install:
  - python setup.py build
script:
  - coverage run --source=gwpy --omit="gwpy/tests/*,gwpy/*version*" -m py.test -v
  - pip install .
after_success:
  - coveralls
notifications:
  slack:
    secure: jQdoSpwNbUnq0Eo7o6Ko7vuhu58LQdfy8jFKxLUnUjv/GLezK/PPAQCU9SgmyDPh1yD8sb5Xa8UtbNfGtpYdwBAGwZxPHz3oQQAflivFwcF6UP7/NlAB9muSOOnL0QfQyX1I4sIKOkX+gkl+TBciX4v58B8NUU02dDkwDqTLUqQ=
