language: python

addons:
  apt:
    sources:
      - sourceline: deb http://software.ligo.org/lscsoft/debian wheezy contrib
        key_url: http://software.ligo.org/keys/deb/lscsoft.key
      - sourceline: deb-src http://software.ligo.org/lscsoft/debian wheezy contrib
        key_url: http://software.ligo.org/keys/deb/lscsoft.key
    packages:
      # basic dependencies
      - python-numpy
      - python-scipy
      - python-matplotlib
      - python-h5py
      - python-astropy
      # matplotlib extras
      - texlive-latex-extra
      - texlive-fonts-recommended
      - dvipng
      # GW extras
      - pkg-config  # for LAL
      - zlib1g-dev  # for LAL
      - libgsl0-dev  # for LAL
      - swig  # for LAL and LALFrame
      - bc  # for LAL
      - python-nds2-client
      - python-glue
      - python-dqsegdb
      - libframe-dev  # for LALFrame
      - ldas-tools-framecpp-python

python:
  - '2.6'
  - '2.7'
  - '3.5'
  - 'nightly'

env:
  - PIP_FLAGS="--quiet"
  - PIP_FLAGS="--quiet --pre"  # use pre-release packages
  - PYTEST_FLAGS="-v -r s"
  - PYTEST_FLAGS="-v -r s -x --strict"  # fail on warnings (and fail fast)

matrix:
  exclude:
    - python: '2.6'
      env: PIP_FLAGS="--quiet --pre"
  allow_failures:
    - python: '2.6'
    - python: '2.7'
      env: PIP_FLAGS="--quiet --pre"
    - python: '3.5'
    - python: 'nightly'
  fast_finish: true

before_install:
  # update pip
  - pip install ${PIP_FLAGS} --upgrade pip

  # build and install numpy first
  - pip install ${PIP_FLAGS} "numpy>=1.7"

  # build LALSuite packages
  - source .travis/build-lalsuite.sh

  # install cython to speed up scipy build
  - travis_retry pip install ${PIP_FLAGS} --install-option="--no-cython-compile" Cython

  # install testing dependencies
  - pip install ${PIP_FLAGS} coveralls "pytest>=2.8" unittest2

  # need to install astropy 1.1 specifically for py26
  - if [[ ${TRAVIS_PYTHON_VERSION} == '2.6' ]]; then pip install "astropy==1.1"; fi

  # install dependencies (using version-dependent requirements if needed)
  - . .travis/install-requirements.sh

  # add extra dependencies for testing
  - pip install ${PIP_FLAGS} -r requirements-extra.txt

install:
  # build
  - python setup.py build

script:
  - coverage run --source=gwpy --omit="gwpy/tests/*,gwpy/*version*,gwpy/utils/sphinx/*" -m py.test ${PYTEST_FLAGS} gwpy/
  - pip install .

after_success:
  - coveralls

notifications:
  slack:
    secure: jQdoSpwNbUnq0Eo7o6Ko7vuhu58LQdfy8jFKxLUnUjv/GLezK/PPAQCU9SgmyDPh1yD8sb5Xa8UtbNfGtpYdwBAGwZxPHz3oQQAflivFwcF6UP7/NlAB9muSOOnL0QfQyX1I4sIKOkX+gkl+TBciX4v58B8NUU02dDkwDqTLUqQ=

cache:
  apt: true
  pip: true
  ccache: true
  directories:
    # cache LALSuite src builds
    - ./lal-${LAL_VERSION}
    - ./lalframe-${LALFRAME_VERSION}
