language: python

addons:
  apt:
    packages:
      # generic packages
      - gcc
      - gfortran
      - libblas-dev
      - liblapack-dev
      # lal dependencies
      - pkg-config
      - zlib1g-dev
      - libgsl0-dev
      - swig
      - bc
      # nds2 dependencies
      - libsasl2-2
      # misc python dependencies
      - texlive-latex-extra
      - libhdf5-serial-dev

env:
  global:
    - SWIG_VERSION="3.0.8"
    - FFTW_VERSION="3.3.4"
    - LAL_VERSION="6.15.0"
    - LALFRAME_VERSION="1.3.0"
    - LIBFRAME_VERSION="8.20"
    - LDAS_TOOLS_VERSION="2.4.1"
    - NDS2_CLIENT_VERSION="0.10.4"
    # tarballs
    - SWIG_="https://github.com/swig/swig/archive/rel-${SWIG_VERSION}.tar.gz"
    - FFTW="http://www.fftw.org/fftw-${FFTW_VERSION}.tar.gz"
    - LDAS_TOOLS="http://software.ligo.org/lscsoft/source/ldas-tools-${LDAS_TOOLS_VERSION}.tar.gz"
    - LIBFRAME="http://software.ligo.org/lscsoft/source/libframe-${LIBFRAME_VERSION}.tar.gz"
    - LAL="http://software.ligo.org/lscsoft/source/lalsuite/lal-${LAL_VERSION}.tar.gz"
    - LALFRAME="http://software.ligo.org/lscsoft/source/lalsuite/lalframe-${LALFRAME_VERSION}.tar.gz"
    - NDS2_CLIENT="http://software.ligo.org/lscsoft/source/nds2-client-${NDS2_CLIENT_VERSION}.tar.gz"

matrix:
  include:
    - python: 2.6
      env: STRICT=false
    - python: 2.7
      env: STRICT=false
    - python: 3.5
      env: STRICT=false
    - python: 2.7
      env: STRICT=true PRE="--pre"
  allow_failures:
    - python: 2.7
      env: STRICT=true PRE="--pre"
    - python: 3.5
      env: STRICT=false

before_install:
  # update pip
  - pip install -q ${PRE} --upgrade pip

  # build and install numpy first
  - pip install -q ${PRE} "numpy>=1.9.1"

  # build src packages
  - source .travis/build-src-dependencies.sh

  # install cython to speed up scipy build
  - travis_retry pip install -q ${PRE} --install-option="--no-cython-compile" Cython

  # install testing dependencies
  - pip install -q ${PRE} coveralls "pytest>=2.8" unittest2

install:
  - pip install ${PRE} -r requirements.txt
  - python setup.py build

script:
  - . .travis/run-tests.sh
  - pip install .

after_success:
  - coveralls

notifications:
  slack:
    secure: jQdoSpwNbUnq0Eo7o6Ko7vuhu58LQdfy8jFKxLUnUjv/GLezK/PPAQCU9SgmyDPh1yD8sb5Xa8UtbNfGtpYdwBAGwZxPHz3oQQAflivFwcF6UP7/NlAB9muSOOnL0QfQyX1I4sIKOkX+gkl+TBciX4v58B8NUU02dDkwDqTLUqQ=

cache:
  apt: true
  directories:
    # cache pip wheels
    - $HOME/.cache/pip
    # cache src builds
    - ./swig-${SWIG_VERSION}
    - ./fftw-${FFTW_VERSION}
    - ./fftw-${FFTW_VERSION}-float
    - ./ldas-tools-${LDAS_TOOLS_VERSION}
    - ./libframe-${LIBFRAME_VERSION}
    - ./lal-${LAL_VERSION}
    - ./lalframe-${LALFRAME_VERSION}
    - ./nds2-client-${NDS2_CLIENT_VERSION}
