include LICENSE README.md MANIFEST.in
recursive-include gwpy/testing/data *gwf *xml.gz *txt *hdf
recursive-include examples *py
include requirements*.txt
include setup_utils.py
include gwpy/_version.py
