include LICENSE README.rst MANIFEST.in
recursive-include gwpy/tests/data *gwf *xml.gz *txt *hdf
recursive-include examples *py
include setup_utils.py
include versioneer.py
include gwpy.spec
include gwpy/_version.py
include debian/*
include debian/source/*
