# -- build

[build-system]
requires = [
    "setuptools>=42",
    "setuptools_scm[toml]>=3.4.3",
    "wheel",
]
build-backend = "setuptools.build_meta"

# -- coverage.py

[tool.coverage.run]
source = ["gwpy"]
omit = [
	# ignore vendored sphinx extension
	"gwpy/utils/sphinx/epydoc.py",
	# don't report coverage for _version.py
	# (generated automatically by setuptools-scm)
	"*/_version.py",
]

[tool.coverage.report]
# print report with one decimal point
precision = 1

# -- pytest

[tool.pytest.ini_options]
addopts = "-r a"
filterwarnings = [
	# https://github.com/gwastro/pycbc/pull/3701
	"ignore:`np.int` is a deprecated alias::pycbc..*",
	# https://git.ligo.org/lscsoft/glue/-/merge_requests/69
	"ignore:PY_SSIZE_T_CLEAN will be required",
	# https://github.com/pyreadline/pyreadline/issues/65
	"ignore:Using or importing the ABCs::pyreadline",
	# ignore numpy ndarray size warnings
	"ignore:numpy.ndarray size changed, may indicate binary incompatibility",
]

# -- setuptools-scm

[tool.setuptools_scm]
write_to = "gwpy/_version.py"
