# requirements for GWpy tests
# pytest needs more-itertools, we need it to work on python2.7
more-itertools < 6.0a0 ; python_version < '3'
pytest >= 3.3.0
pytest-cov >= 2.4.0
pytest-xdist < 1.28.0
mock ; python_version < '3'
freezegun >= 0.2.3
sqlparse >= 0.2.0
beautifulsoup4
