# core
-r requirements.txt

# tests
-r requirements-test.txt

# docs
-r requirements-doc.txt

# extras
pymysql
pykerberos
pyRXP
lscsoft-glue
dqsegdb
ligotimegps
pycbc >= 1.10.1 ; python_version == '2.7'
git+https://github.com/duncanmmacleod/ligo.org.git
sqlalchemy
psycopg2
pandas ; python_version != '3.4'
pandas < 0.21 ; python_version == '3.4'
