# GWpy core requirements
#           [use requirements-dev.txt for a full development environment
#            including docs and testing dependencies]
astropy >= 3.0.0
dqsegdb2
gwdatafind
gwosc >= 0.5.3
h5py >= 2.7.0
ligo-segments >= 1.0.0
ligotimegps >= 1.2.1
matplotlib >= 3.3.0
numpy >= 1.15.0
python-dateutil
scipy >= 1.2.0
tqdm >= 4.10.0
