six>=1.5
numpy>=1.7
scipy>=0.16
astropy>=1.0
matplotlib>=1.4.1
gitpython
h5py>=1.3
importlib
argparse
M2Crypto
pykerberos
python-cjson
jinja2
tornado
http://software.ligo.org/lscsoft/source/glue-1.49.1.tar.gz
http://software.ligo.org/lscsoft/source/dqsegdb-1.2.2.tar.gz
