# core
-r requirements.txt

# tests
-r requirements-test.txt

# docs
-r requirements-doc.txt

# extras
lalsuite ; sys_platform != 'win32'
git+https://github.com/duncanmmacleod/ligo.org.git
lscsoft-glue ; sys_platform != 'win32'
maya
pandas ; python_version != '3.4'
pandas < 0.21 ; python_version == '3.4'
psycopg2
pycbc >= 1.13.4 ; python_version < '3' and sys_platform != 'win32'
pymysql
pyRXP
python-ligo-lw >= 1.5.0 ; sys_platform != 'win32'
sqlalchemy
