# include core requirements
-r requirements.txt

# dependencies for glue
pykerberos
pyRXP

# extras
pymysql
dqsegdb
https://github.com/ligovirgo/trigfind/archive/v0.4.tar.gz
pycbc ; python_version == '2.7'
git+https://github.com/duncanmmacleod/ligo.org.git
sqlalchemy
psycopg2
pandas

# docs
sphinx >= 1.6.1
numpydoc
sphinx-bootstrap-theme >= 0.6
sphinxcontrib-programoutput
sphinx-automodapi
requests

# tests
pytest >= 3.1
coveralls
mock ; python_version < '3'
freezegun
sqlparse
bs4
