version: 2

python-build: &python-build
  docker:
    image: python
  steps:
    - checkout
    - run:
        name: Test
        command: |
          python setup.py test
          python -m pip install coveralls
          coveralls || true

debian-build: &debian-build
  steps:
    - checkout
    - run:
        name: Build
        command: bash ci/install-debian.sh
    - run:
        name: Test
        command: pytest --pyargs gwpy

centos-build: &centos-build
  steps:
    - checkout
    - run:
      name: Build
      command: bash ci/install-el.sh
    - run:
      name: Test
      command: pytest --pyargs gwpy

jobs:
  debian:jessie:2.7:
    <<: *debian-build
    docker:
      - image: ligo/base:jessie
    environment:
      PYTHON_VERSION: "2.7"

  debian:jessie:3.4:
    <<: *debian-build
    docker:
      - image: ligo/base:jessie
    environment:
      PYTHON_VERSION: "3.4"

  debian:stretch:2.7:
    <<: *debian-build
    docker:
      - image: ligo/base:stretch
    environment:
      PYTHON_VERSION: "2.7"

  debian:stretch:3.5:
    <<: *debian-build
    docker:
      - image: ligo/base:stretch
    environment:
      PYTHON_VERSION: "3.5"

  el7:2.7:
    <<: *centos-build
    docker:
      - image: ligo/base:el7
    environment:
      PYTHON_VERSION: "2.7"

  el7:3.4:
    <<: *centos-build
    docker:
      - image: ligo/base:el7
    environment:
      PYTHON_VERSION: "3.4"

  python:2.7:
    <<: *python-build
    docker:
      - image: python:2.7

  python:3.6:
    <<: *python-build
    docker:
      - image: python:3.6

workflows:
  version: 2
  build_and_test:
    jobs:
      - python:2.7
      - python:3.6
      - debian:stretch:2.7
      - debian:stretch:3.5
      - debian:jessie:2.7
      - debian:jessie:3.5
      - el7:2.7
      - el7:3.5
