# -- gwpy source package ------------------------------------------------------

Source: gwpy
Maintainer: Duncan Macleod <duncan.macleod@ligo.org>
Section: python
Priority: optional
Standards-Version: 3.9.1
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python3-all,
               python-setuptools,
               python3-setuptools,

# -- python-gwpy --------------------------------------------------------------

Package: python-gwpy
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-six (>= 1.5),
         python-dateutil,
         python-enum34,
         python-numpy (>= 1.7.1),
         python-scipy (>= 0.12.0),
         python-astropy (>= 1.1.1),
         python-matplotlib (>= 1.2.0),
         lal-python (>= 6.14.0),
         python-glue (>= 1.55.2)
Recommends: python-h5py (>= 1.3)
Suggests: python-pymysql,
          python-dqsegdb,
          python-sqlalchemy,
          python-psycopg2,
          python-pandas
Description: A python package for gravitational-wave astrophysics
 .
           GWpy is a collaboration-driven `Python <http://www.python.org>`_
           package providing tools for studying data from ground-based
           gravitational-wave detectors.
 .

# -- python3-gwpy -------------------------------------------------------------

Package: python3-gwpy
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-six (>= 1.5),
         python3-dateutil,
         python3-numpy (>= 1.7.1),
         python3-scipy (>= 0.12.0),
         python3-astropy (>= 1.1.1),
         python3-matplotlib (>= 1.2.0),
         lal-python3 (>= 6.14.0),
         python3-glue (>= 1.55.2)
Recommends: python3-h5py (>= 1.3)
Suggests: python3-pymysql,
          python3-dqsegdb,
          python3-sqlalchemy,
          python3-psycopg2,
          python3-pandas
Description: A python package for gravitational-wave astrophysics
 .
           GWpy is a collaboration-driven `python <http://www.python.org>`_
           package providing tools for studying data from ground-based
           gravitational-wave detectors.
 .
