# -- gwpy source package ------------------------------------------------------

Source: gwpy
Maintainer: Duncan Macleod <duncan.macleod@ligo.org>
Section: python
Priority: optional
Standards-Version: 3.9.1
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python3-all,
               python-setuptools,
               python3-setuptools

# -- python-gwpy --------------------------------------------------------------

Package: python-gwpy
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-astropy (>= 1.1.1),
         python-dateutil,
         python-dqsegdb2,
         python-enum34,
         python-gwdatafind,
         python-gwosc (>= 0.3.1),
         python-h5py (>= 1.3),
         python-lal (>= 6.14.0),
         python-ligo-segments (>= 1.0.0),
         python-matplotlib (>= 1.2.0),
         python-numpy (>= 1.7.1),
         python-pathlib,
         python-scipy (>= 0.12.1),
         python-six (>= 1.5),
         python-tqdm (>= 4.10.0)
Suggests: python-glue (>= 1.60.0),
          python-ldas-tools-framecpp (>= 2.6.0),
          python-nds2-client,
          python-pandas,
          python-psycopg2,
          python-pymysql,
          python-sqlalchemy
Description: A python package for gravitational-wave astrophysics
 GWpy is a collaboration-driven Python package providing tools
 for studying data from ground-based gravitational-wave detectors.

# -- python3-gwpy -------------------------------------------------------------

Package: python3-gwpy
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-astropy (>= 1.1.1),
         python3-dateutil,
         python3-dqsegdb2,
         python3-gwosc (>= 0.3.1),
         python3-gwdatafind,
         python3-h5py (>= 1.3),
         python3-lal (>= 6.14.0),
         python3-ligo-segments,
         python3-matplotlib (>= 1.2.0),
         python3-numpy (>= 1.7.1),
         python3-scipy (>= 0.12.0),
         python3-six (>= 1.5),
         python3-tqdm (>= 4.10.0)
Suggests: python3-glue (>= 1.60.0),
          python3-ldas-tools-framecpp (>= 2.6.0),
          python3-nds2-client,
          python3-pandas,
          python3-psycopg2,
          python3-pymysql,
          python3-sqlalchemy
Description: A python package for gravitational-wave astrophysics
 GWpy is a collaboration-driven Python package providing tools
 for studying data from ground-based gravitational-wave detectors.
