Source: gwpy
Maintainer: Duncan Macleod <duncan.macleod@ligo.org>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3),
               python-all (>= 2.6.6-3),
               debhelper (>= 7.4.3)
Standards-Version: 3.9.1
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4

Package: python-gwpy
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-six (>= 1.5),
         python-numpy (>= 1.11),
         python-scipy (>= 0.14),
         python-astropy (>= 1.2.1),
         python-matplotlib (>= 1.4.1),
         python-glue (>= 1.55.2)
Recommends: python-lal,
            python-h5py (>= 1.3)
Suggests: python-pymysql,
          python-dqsegdb,
          python-sqlalchemy,
          python-psycopg2,
          python-pandas
Description: A python package for gravitational-wave astrophysics
 .
           GWpy is a collaboration-driven `Python <http://www.python.org>`_
           package providing tools for studying data from ground-based
           gravitational-wave detectors.
 .

Package: python3-gwpy
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-six (>= 1.5),
         python3-numpy (>= 1.11),
         python3-scipy (>= 0.14),
         python3-astropy (>= 1.2.1),
         python3-matplotlib (>= 1.4.1),
         python3-glue (>= 1.55.2)
Recommends: python3-lal,
            python3-h5py (>= 1.3)
Suggests: python3-pymysql,
          python3-dqsegdb,
          python3-sqlalchemy,
          python3-psycopg2,
          python3-pandas
Description: A python package for gravitational-wave astrophysics
 .
           GWpy is a collaboration-driven `python <http://www.python.org>`_
           package providing tools for studying data from ground-based
           gravitational-wave detectors.
 .
