#!/usr/bin/make -f

export PYBUILD_NAME := gwpy

# don't run tests (yet)
export PYBUILD_DISABLE := test

# don't install scripts for python3 (yet)
export PYBUILD_INSTALL_ARGS_python3 := --install-scripts=/trash
export PYBUILD_AFTER_INSTALL_python3 := rm -rf {destdir}/trash

%:
	dh $@ --with python2,python3 --buildsystem=pybuild
