# ---------------------------
#
# Check the source files for quality issues
#
# ---------------------------

name: Lint

on:
  push:
    branches:
      - main
      - master
      - release/**
  pull_request:
    branches:
      - main
      - master
      - release/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  flake8:
    name: Flake8
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install "flake8>=3.7.0"
    - name: Lint with flake8
      run: python -m flake8 .

  rstcheck:
    name: rstcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install \
            "rstcheck[sphinx]>=6.0.0" \
        ;
    - name: List packages
      run: python -m pip list installed
    - name: Lint with rstcheck
      run: |
        rstcheck . \
            --config pyproject.toml \
            --log-level DEBUG \
            --recursive \
            --report-level error \
        ;
